@import "variables";
@import "mixins";

.content {
  padding: 10px 20px;
  @include desktop {
    max-width: $max-width;
    margin: 0 auto;
  }
}

.simple-menu {
  background-color: aquamarine;

  .list {
    display: flex;
    flex-direction: column;
    align-items: center;

    .item {
      background-color: brown;
    }
  }
}
